.homeImg {
  background-size: cover;
  opacity: 0.2;
  height: 100%;
}

footer {
  height: 64px;
  color: #1D4350;
}

.aboutpic {
  height: auto;
  width: 100%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.infopic {
  height: auto;
  width: 90%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.capitalpic {
  height: auto;
  width: 100%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.homeCardStyle {
  height: 375px;
}

.badge {
  margin-top: -20px !important;
}


.civisBlue {
  background-color: #1D4350 !important;
}

.civisRed {
  background-color: #A43931 !important;
}

.civisBlueColor {
  color: #1D4350 !important;
}

.civisRedColor {
  color: #A43931 !important;
}
