.homeImg {
  background-size: cover;
  opacity: 0.2;
  height: 100%;
}

footer {
  height: 64px;
}

.aboutpic {
  height: auto;
  width: 100%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.homeCardStyle {
  height: 375px;
}

.civisBlue {
  background-color: #4A569D !important;
}

.civisRed {
  background-color: #DC2424 !important;
}

.civisBlueColor {
  color: #4A569D !important;
}

.civisRedColor {
  color: #DC2424 !important;
}
