.civisGradient {
  background: #1D4350 !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #A43931, #1D4350) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #A43931, #1D4350) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.lato {
  font-family: "Lato";
}

.aboutComponent {
  background-color: white;
  border-width: 0 0 12px 0;
  border-style: solid;
  border-color: black;
}

.backgroundImage {
  background-image: url("../images/congress.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.backButton {
  position: absolute;
  right:    24px;
  bottom:   24px;
}

.homeImg {
  background-size: cover;
  opacity: 0.2;
  height: 100%;
}

footer {
  height: 100px;
  color: #1D4350;
}

.aboutpic {
  height: auto;
  width: 100%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.infopic {
  height: auto;
  width: 72%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  padding-bottom: 1rem !important;
}

.capitalpic {
  height: auto;
  width: 75%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.samImg {
  height: auto;
  width: 25%;
  border-radius: 50%;
  margin-top: 64px;
}

.homeCardStyle {
  height: 375px;
}

.civisBlue {
  background-color: #1D4350 !important;
}

.civisRed {
  background-color: #A43931 !important;
}

.civisBlueColor {
  color: #1D4350 !important;
}

.civisRedColor {
  color: #A43931 !important;
}

.aboutBar {
  padding: 50px;
  font-size: 50px;
}

.addressFormLabel input[type=text]:focus + label {
  color: #A43931;
}

.AddressForm input[type=text]:focus {
 border-bottom: 1px solid  #A43931;
 box-shadow: 0 1px 0 0  #A43931;
}

.btnStyle {
  background-color:  transparent;
  font-size: 15px;
  border: white solid 3px;
  border-radius: 5px;
}

.aboutPage {
  height: 80px;
  display: block;
  margin: 0 auto;
}
